<h1> <%= @task.title %></h1>
<%= @task.details %>
<hr>
<% if @task.completed %>
  <i class="far fa-check-square"></i>
  <%= "This task is completed" %>
<% else %>
  <i class="far fa-square"></i>
  <%= "This task is not completed" %>
<% end %>

<hr>
<%= link_to "back to the list", tasks_path %>
